body {
  background-color: #C4DBE0;
}
main {
  background-color: #fff;
  max-width: 80%;
  padding: 20px;
  margin: auto;
  top: 20px;
  position: relative;
  border-radius: 10px;
}
.navigation {
  background: #0C6980;
  border-radius: 10px 40px;
  padding: 5px;
}


.top-picture {
  display: inline;
}
.header-index-img {
  position: absolute;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 200px;
  right: 20%;
  top: 20%;
  z-index: 2000;
}
.section-main {
  display: block;
  z-index: 2500;
}
.header {
  position: sticky;
   
}

p {
  color: rgb(32, 27, 19);
}
.h1 {
  color: black;
}
.h1-title {
  margin: 10px 10px;
  
  
}
.h2 {
  color: #1460aa;
}
.h3 {
  color: red;
}
.description {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #c43b3b;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
}
