body {
  background-color: #C4DBE0;
}
main {
  background-color: #C4DBE0;
  max-width: 80%;
  padding: 20px;
  margin: auto;
  top: 20px;
  bottom: 20px;
  position: relative;
  border-radius: 10px;
}
.section-main {
  display: block;
  z-index: 2500;
}

.navigation {
  background: #0C6980;
  border-radius: 10px 40px;
  padding: 5px;
  z-index: 100;
  position: sticky;
  
}
.navigation__link {
  background: #0C6980;
  padding: 5px;
  border-radius: 6px;
  display: inline-block;
  margin: 0px 5px;
  border: 0.4px solid #000;
  color: #C4DBE0
}
.navigation__link--onclick {
  background: #2EB5E0;
  color: #000;
}

.top-picture {
  display: inline;
}
.header-index-img {
  position: absolute;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 200px;
  right: 5%;
  top: 20%;
  z-index: 2000;
}
.header-img {
  position: absolute;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 200px;
  right: 20%;
  top: 20%;
  z-index: 2000;
}
.section-main {
  margin: 10px 20px;
  padding: 15px;
  margin-bottom: 10px;
  background: rgb(46, 181, 224, 0.2);
  max-width: 70%;
  border-radius: 10px;
}
.section-main__title {
  color: #0C6980
}
.section-main__description {
color: #000
}
.navigation__footer {
  border-radius: 40px 10px;
  

}
.navigation__footer-destription {
  color: #C4DBE0;
  margin-left: 10px;
  display: inline-block;
}
.navigation__link--onclick__footer {
  color:#000;
  margin: 5px 5px;
  
  
}

p {
  color: rgb(32, 27, 19);
}
.h1 {
  color: black;
}
.h1-title {
  margin: 40px 10px;
  color: #C4DBE0
}
  
}
.h2 {
  color: #1460aa;
}
.h3 {
  color: red;
}
.description {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #c43b3b;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
  border: 2px solid #c43b3b;
  display: block;
  padding: 5px;
}
